.height > div {
  height: 100%;
}

.width > div {
  width: 100%;
}

.cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}


@media only screen and (min-width: 400px){
.cards {
    grid-template-columns: repeat(1,1fr);
}

@media only screen and (min-width: 500px){
.cards {
    grid-template-columns: repeat(2,1fr);
}
  
@media only screen and (min-width: 1200px){
.cards {
    grid-template-columns: repeat(3,1fr);
}

  
@media only screen and (min-width: 1500px){
.cards {
    grid-template-columns: repeat(4,1fr);
}

